[Unit]
Description=SonicWall Logon by Erick Ponce Leão
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
ExecStart=/bin/sh /opt/sonicwall-logon/run.sh
Restart=on-failure

[Install]
WantedBy=default.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
